<!doctype html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/global.css">
    {% block head %}{% endblock %}
</head>

<body>
    <main>
        {{ content | safe }}
    </main>
</body>

</html>

